<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Recuperar Contraseña</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid fixed>
    <ion-row>
      <ion-col size="12">
        <div class="ion-text-justify" style="padding: 5%">
          <h3>Ingrese su nombre de usuario para recuperar contraseña.</h3>
        </div>
      </ion-col>
      <ion-col size="12">
        <ion-item>
          <ion-label position="stacked">Correo</ion-label>
          <ion-input [(ngModel)]="correo" type="text" placeholder="nombre@duocuc.cl"></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row style="padding-top: 10%;">
      <ion-col size="12">
        <ion-button expand="full" color="secondary" shape="round" class="ion-text-capitalize" (click)="recuperar()">
          <ion-icon slot="start" name="key-outline"></ion-icon> Recuperar
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
