ion-button{
    text-decoration: none;
    padding: 1px;
    padding-left: 1px;
    padding-right: 1px;
    font-family: helvetica;
    font-weight: 10;
    font-size: 10px;
    font-style: italic;
    color: white;
    background-color: #b8c507;
    border-radius: 15px;
    border: 3px double black;
    margin-left: 10px;
    margin-top: 10px;
}

.boton-escaner{
    text-decoration: none;
    padding: 1px;
    padding-left: 1px;
    padding-right: 1px;
    font-family: helvetica;
    font-weight: 15;
    font-size: 15px;
    font-style: italic;
    color: #fff;
    background-color: black;
    border-radius: 15px;
    border: 3px double white;
    margin-left: 10px;
    margin-top: 0px;
}
