<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title class="title" style="text-align: center;">
      CODE QR
    </ion-title>
    
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card>
    <img src="../assets/img/codeQr.png">
    <ion-card-header>
      <ion-card-subtitle>Nombre del ramo</ion-card-subtitle>
      <ion-card-title>Seccion</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      fecha 
      <footer>
        <ion-buttons slot="center">
          <ion-button class="guardar ">
            <a href="/profesor">Volver al inicio</a>
          </ion-button>
        </ion-buttons>
      </footer>
    </ion-card-content>
  </ion-card>

</ion-content>
